<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AsposeLicPath" value="C:\Projects\Config\NewLic_20081219\Aspose.Cells.lic"/>
        <add key="TO" value="*"/>
        <add key="CC" value="*"/>
        <add key="PROXY" value="*"/>
        <add key="PORT" value="*"/>
        <add key="UID" value="*"/>
        <add key="UPW" value="*"/>
        <add key="COMPANYID" value="*"/>
        <add key="METERDID" value="*"/>
        <add key="CHINADNY_ID" value="***"/>
        <add key="CHINADNY_PW" value="***"/>
    </appSettings>
</configuration>