<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=10.170.1.29;User ID=smartpark;Password=smartpark;Initial Catalog=HRDB_QT;Pooling=true;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="AsposeLicPath" value="C:\Projects\Config\NewLic_20081219\Aspose.Cells.lic"/>-->
    <add key="TokenUrl" value="*"/>
    <add key="CreateUserUrl" value="*"/>
    <add key="LoginId" value="*"/>
    <add key="LoginPsd" value="*"/>
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>